.aboutt {
    width: 100%;
    background-image:url(https://images3.alphacoders.com/812/812062.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}